<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"></head>
<body>
<aside class="admin-sidebar" th:fragment="adminLnb(activeMenu)">
    <div class="sidebar-logo">
        <img th:src="@{/static/images/BIDEO_LOGO/BIDEO-logo.png}"
             src="/static/images/BIDEO_LOGO/BIDEO-logo.png" alt="BIDEO">
    </div>

    <div class="sidebar-profile">
        <img class="sidebar-profile-img"
             src="https://ui-avatars.com/api/?name=Admin&background=065fd4&color=fff&size=40"
             alt="Admin">
        <div class="sidebar-profile-info">
            <div class="sidebar-profile-type">관리자</div>
            <div class="sidebar-profile-name">BIDEO Admin</div>
        </div>
    </div>

    <nav class="sidebar-nav">
        <a th:href="@{/admin/members}"
           th:class="'sidebar-nav-item' + (${activeMenu == 'members'} ? ' active' : '')">
            <span class="sidebar-nav-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/>
                </svg>
            </span>
            <span class="nav-item-text">회원관리</span>
        </a>

        <a th:href="@{/admin/reports}"
           th:class="'sidebar-nav-item' + (${activeMenu == 'reports'} ? ' active' : '')">
            <span class="sidebar-nav-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M14.4 6L14 4H5v17h2v-7h5.6l.4 2h7V6h-5.6z"/>
                </svg>
            </span>
            <span class="nav-item-text">신고관리</span>
        </a>

        <a th:href="@{/admin/artworks}"
           th:class="'sidebar-nav-item' + (${activeMenu == 'artworks'} ? ' active' : '')">
            <span class="sidebar-nav-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M21 3H3c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H3V5h18v14zm-5.04-6.71l-2.75 3.54-1.96-2.36L8.5 17h7l-2.54-4.71z"/>
                </svg>
            </span>
            <span class="nav-item-text">작품관리</span>
        </a>

        <a th:href="@{/admin/auctions}"
           th:class="'sidebar-nav-item' + (${activeMenu == 'auctions'} ? ' active' : '')">
            <span class="sidebar-nav-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M17.66 7.93L12 2.27 6.34 7.93c-3.12 3.12-3.12 8.19 0 11.31C7.9 20.8 9.95 21.58 12 21.58c2.05 0 4.1-.78 5.66-2.34 3.12-3.12 3.12-8.19 0-11.31zM12 19.59c-1.6 0-3.11-.62-4.24-1.76C6.62 16.69 6 15.19 6 13.59s.62-3.11 1.76-4.24L12 5.1v14.49z"/>
                </svg>
            </span>
            <span class="nav-item-text">경매관리</span>
        </a>

        <div class="sidebar-divider"></div>

        <a th:href="@{/admin/withdrawals}"
           th:class="'sidebar-nav-item' + (${activeMenu == 'withdrawals'} ? ' active' : '')">
            <span class="sidebar-nav-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M21 18v1c0 1.1-.9 2-2 2H5c-1.11 0-2-.9-2-2V5c0-1.1.89-2 2-2h14c1.1 0 2 .9 2 2v1h-9c-1.11 0-2 .9-2 2v8c0 1.1.89 2 2 2h9zm-9-2h10V8H12v8zm4-2.5c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"/>
                </svg>
            </span>
            <span class="nav-item-text">출금관리</span>
        </a>

        <a th:href="@{/admin/payments}"
           th:class="'sidebar-nav-item' + (${activeMenu == 'payments'} ? ' active' : '')">
            <span class="sidebar-nav-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M20 4H4c-1.11 0-1.99.89-1.99 2L2 18c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V6c0-1.11-.89-2-2-2zm0 14H4v-6h16v6zm0-10H4V6h16v2z"/>
                </svg>
            </span>
            <span class="nav-item-text">결제관리</span>
        </a>
    </nav>
</aside>
</body>
</html>
